.container {
    z-index: 10;
    position: sticky;
    bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: var(--responsive-space-s);
}

.button {
    padding-right: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.list {
    div {
        margin-right: -0.3em;
    }
}

// .open {}

.emoji {
    cursor: pointer;
}