.list {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: var(--responsive-height-xl);
    padding-left: 0;

    &>li {
        list-style: none;
        padding-left: 0;
        padding-bottom: 0;
        line-height: 1 !important;

        &>span {
            display: inline-flex;
            line-height: 1 !important;
        }
    }
}

.titre {
    max-width: var(--responsive-height-xl);
    line-height: .9 !important;
    letter-spacing: 1.1;
}